body{
	margin:0px auto;/* auto:automatically adjusts to center*/
	width: 100%;/* it means 100% of your screen size */
	font-family: 'Ubuntu ', sans-serif;
}
nav ul li{
	list-style-type: none;/* bullets/decimals */
	float: left; /* display the content from left to right or right to left*/
	padding-right:9.83em;/* gives spacing to the list */ 
	color:#f5f5f5;/*check out color hunt for best colors */
}
nav ul{
	float: left; /* display to the left of page or right of page */
}
nav{
	width: 100% auto;
	height: 50px;
	background-color:#0f4c75; 
	position: fixed;/* to fix the nav bar so that it still remains there if we go to to other sections*/
}
nav ul li a
{
	text-decoration: none;
	color:#fff;
}
section{
	background-color:#ececec;
}
.home{
	background-color:#4e89ae;
	text-align: center;
	font-size:40px;
	color:#f5f5f5;
	/*padding: 150px;*/
	display: table;
	height:100vh;/*vh is view height which is nothing but screen height*/
	width:100%;
}
.inner
{
	display: table-cell;
	vertical-align: middle;
}	
.home .inner img
{
	border-radius: 100%;
	width: 200px;
	height: auto;
}
.home .inner h1
{
	font-weight:5;
}
.about
{
	background-image: url('https://img.freepik.com/free-photo/ballpoint-pen-showing-communication-contact-us-mail-concept-gray-background_127657-7189.jpg?size=626&ext=jpg&ga=GA1.2.129209249.1600605441');
	display: table;
	height:100vh;
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.about .inner
{
	display: table-cell;
	vertical-align: middle;
	width: 70%;
	float: left;
	padding-top: 75px;
	padding-left: 50px;
}
.about .inner h1
{
	font-size: 40px;
}
.about .inner p
{
	font-size: 28px;
	line-height: 40px;/*height of the line*/
}
.education
{
	background-color:#fbd46d;
	display: table;
	height: 100vh;
	width:100%;
	font-family: font-family: 'Varela', sans-serif;	

}
.education .inner , .hobbies .inner
{
	padding:50px;	
	font-family: font-family: 'Varela', sans-serif;	
}
.education .inner h1, .hobbies .inner h1 , .skills .inner h1 , .contact .inner h1
{
	font-size: 30px;
	font-family: font-family: 'Varela', sans-serif;	
}
.education .inner div
{
	width:30%;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	text-align: center;
	font-family: font-family: 'Varela', sans-serif;	

}
.education .inner div p, .hobbies .inner div p , .skills .inner div ul li, .contact .inner p
{
	font-size: 20px;

}
.education .inner div img, .hobbies .inner div img
{
	width: 100px;
	height: auto;

}
.hobbies , .skills
{
	background-color:#ea8a8a;
	display: table;
	height: 100vh;
	width:100%;
}
 .hobbies .inner div
 {
 	width:24%;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	text-align: center;
 }
.skills
{
	background-image: url('https://cdn.acodez.in/wp-content/uploads/2018/06/Banner-image.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.skills .inner, .contact .inner
{
	/*background-color: rgba(0,0,0,0.7);*/
	padding-top: 50px;

}
 .skills .inner div
 {
 	width:50%;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	text-align: center;
 }
.skills .inner div ul li
{
	list-style-type: none;
}
.skills .inner h1
{
	padding-left:50px; 
}
.contact
{
	background-color:#ffaa64;
	display: table;
	height: 100vh;
	width:100%;

}
.contact .inner
{
	text-align: center;
}/*	62d2a2/*

/* responsive designing */
@media(min-width: 320px) and (max-width: 767px)
{
	nav ul li{
	list-style-type: none;/* bullets/decimals */
	float: left; /* display the content from left to right or right to left*/
	padding-right:3em;/* gives spacing to the list */ 
	color:#f5f5f5;/*check out color hunt for best colors */
}
	.home .inner img
	{
		padding-top: 80px;
	}
	.about .inner 
	{
		width: 90%;
		padding: 25px;
	}
	.about .inner p
	{
		font-size: 18px;
		text-align: justify;
	}
	.education .inner div
	{
		width: 100%;
	}
	.hobbies .inner div
	{
		width: 100%;
		/* border-bottom: 2px solid black; */
	}
	.skills .inner div
	{
		width: 100%;
	}
}
@media(min-width: 768px) and (max-width: 1023px)
{
	nav ul li{
	list-style-type: none;/* bullets/decimals */
	float: left; /* display the content from left to right or right to left*/
	padding-right:4em;/* gives spacing to the list */ 
	color:#f5f5f5;/*check out color hunt for best colors */
}
.about .inner h1
{
	font-size: 30px;
}
.about .inner p
{
	font-size: 22px;
	line-height: 40px;/*height of the line*/
}
.hobbies .inner div
 {
 	width:24%;
	margin-left: 0px;
	margin-right: 5px;
	float: left;
	text-align: center;
 }

}
@media(min-width: 1024px) and (max-width: 1440px)
{
nav ul li{
	list-style-type: none;/* bullets/decimals */
	float: left; /* display the content from left to right or right to left*/
	padding-right:10.1em;/* gives spacing to the list */ 
	color:#f5f5f5;/*check out color hunt for best colors */
}
}
@media(min-width: 1440px)
{
nav ul li{
	list-style-type: none;/* bullets/decimals */
	float: left; /* display the content from left to right or right to left*/
	padding-right:10.83em;/* gives spacing to the list */ 
	color:#f5f5f5;/*check out color hunt for best colors */
}
}